wheel
robotframework==5.0
beautifulsoup4
paramiko
twisted
pyOpenSSL
httplib2
requests
service_identity
wd
retrying
PyYAML
paho-mqtt
argparse
JPype1
redis
Pillow
psutil
jsonpath
PyMySQL
sshtunnel
numpy
matplotlib
opencv-python
opencv-contrib-python
imageio
scikit-image
Mahotas
SimpleITK
Pycairo
uiautomator2
websocket_client
chardet
requests_toolbelt
arrow
scikit-learn
NLTK
Shogun
MDP
PyBrain
PyML
Pattern
Theano
pyreadline
pandas
pytesseract
retrying
pyautogui
pywinauto
PyJWT
allure-robotframework
pythonnet
psutil
pydantic
baseImage==2.1.1
findit